@page
@model TOPMS.Pages.TransportRFQ.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TransportRFQ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.AppUser.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.AppUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.Material.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.Material.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.NumberOfPackages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.NumberOfPackages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.Packaging)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.Packaging)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.PackageDimention)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.PackageDimention)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.Volume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.Volume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.Transport.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.Transport.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.Service.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.Service.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.ShipmentReadyDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.ShipmentReadyDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.RequestDeliveryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.RequestDeliveryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.Status.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.Status.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.SpecialRequirements)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.SpecialRequirements)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.Order.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransportRFQ.Insurance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransportRFQ.Insurance.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TransportRFQ.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
