@page
@model TOPMS.Pages.Offer.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Offers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].ValidTill)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].TransportRFQ.From)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].TransportRFQ.From.ZIPCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].TransportRFQ.From.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].TransportRFQ.To)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].TransportRFQ.To.ZIPCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].TransportRFQ.To.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].TransportRFQ.Transport)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].TransportRFQ.Service)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].TransportRFQ.NumberOfPackages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].TransportRFQ.Packaging)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].TransportRFQ.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].TransportRFQ.Volume)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].LoadingTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].DeliveryTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].PriceOffered)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].Currency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offer[0].Comments)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Offer)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidTill)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportRFQ.From.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportRFQ.From.ZIPCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportRFQ.From.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportRFQ.To.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportRFQ.To.ZIPCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportRFQ.To.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportRFQ.Transport.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportRFQ.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportRFQ.NumberOfPackages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportRFQ.Packaging)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportRFQ.Weight) kg
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportRFQ.Volume) cmb
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoadingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceOffered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
