@page
@model TOPMS.Pages.CompanyService.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CompanyService</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Services[0].Name)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Services)
                    {
                        <tr>
                            <td>
                                <input name="AreChecked" type="checkbox" value="@item.Id" />
                                <label asp-for="@item.Name">@item.Name</label>
                                <input asp-for="@item.Id" type="hidden" />
                                <input asp-for="@item.Name" type="hidden" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Company/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
