@page
@model TOPMS.Pages.ExchangeRate.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeRate[0].ValidForMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeRate[0].ValidFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeRate[0].ValidTill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeRate[0].ConvertFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeRate[0].ConvertToBGN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeRate[0].ConvertRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeRate[0].Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ExchangeRate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValidForMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConvertFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConvertToBGN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConvertRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
