@page
@model TOPMS.Pages.Order.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete Order</h1>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.AppUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.AppUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.LoadingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.LoadingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.DeliverTill)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.DeliverTill)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Comments)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
