@page
@model TOPMS.Pages.Order.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.AppUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.AppUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.LoadingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.LoadingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.DeliverTill)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.DeliverTill)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
